*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(4, 202, 136);
    color: white;
    padding: 2%;
}

h2{
    font-weight: 600;
    letter-spacing: 2px;
}